:root {
  --buttonSize: 50px;
}

html, body {
  width: 100%;
  margin: 0;
  
  background-color: rgb(255, 250, 245);

  font-family: museoSans;
  font-weight: 700;
}

#container {
  margin: 50px auto;
  width: min-content;
  height: min-content;

  border-radius: 5px;
  
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 2px 2px 20px rgb(146, 165, 195);

  display: grid;
  grid-template-columns: repeat(4, var(--buttonSize));
}

.button {
  line-height: var(--buttonSize);
  width: var(--buttonSize);

  text-align: center;
  cursor: default;
  border-color: rgb(41, 41, 41);
  position: relative;
  background-image: radial-gradient(rgb(142, 164, 206), rgb(99, 126, 175));
  user-select: none;
}

.button:hover {
  background-image: radial-gradient(rgb(195, 209, 236), rgb(99, 126, 175));
}

#screen {
  grid-column: 1 / 5;
  height: var(--buttonSize);
  line-height: var(--buttonSize);
  text-align: right;
  padding-right: 10px;
  background-color: black;
  color: rgb(133, 84, 161);
  font-size: 24px;
}

#digits {
  width: min-content;
  float: right;
}

@font-face {
  font-family: museoSans;
  src: url(museosans-500.ttf);
}